@tailwind base;
@tailwind components;
@tailwind utilities;

/* Minimal stylesheet to avoid 404 and host minor utilities */
.hide-scroll::-webkit-scrollbar {
  display: none;
}
.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
